.principal{
    font-family: sans-serif;
}






.corpo-navbar{
    background: linear-gradient(45deg, #dfd659 1%,#b9a167 81%);
    padding: 20pxs;
}

.logo{
    margin: auto;
    vertical-align: left;
    display: block;
    margin: 0.5px;
    width: 31%;


}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;


}



nav{
    position: absolute;
    top: 150px;
    right: 130px;

}

nav li{
    display: inline;
    margin: 0 0 0 22px;
    
    
    
    
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    font-size: 22px ; 
    text-decoration: none;
    
}

nav a:hover{
    color: brown;
    text-decoration: underline;

}

.location li{
    display: inline-block;
    text-align: center;
    padding:50px 20px ;
    margin: 0 1.5%;    
    box-sizing: border-box;
    border: 2px solid  black;
    border-radius: 10px;

    
}

.location li:hover{
    border-color:brown ;
    font-size: 40px;
    transform: scale(1.02);
    transition: 0.7 all;
}
.location li:active{
    border-color: blue;
}

.location{
    width: 940px;
    margin: 0 auto;
    

}

.obs{
    text-align: center;
    
    color: rgba(20, 19, 19, 0.986);
    font-size: 27px;
    font-weight: bold;

}

.bogota{
    padding-top: 45px;
    width: 20%;
    text-align: center;
    
}

footer{
    text-align: center;
    background-color: aquamarine;
}



